    <!-- 信息发布栏目下的左侧菜单 -->
    <div class="wp-column-menu">
      <div class="column-head" frag="面板6">
        <div class="column-anchor clearfix" frag="窗口6" portletmode="simpleColumnAnchor">
          <h3 class="anchor-title"><span class="Column_Anchor">待修改</span></h3>
          <a class="column-switch"></a> 
        </div>
      </div>
      <div class="column-body" frag="面板7">
        <div class="column-list" frag="窗口7" portletmode="simpleColumnList">
          <div id="wp_listcolumn_w7"> 
            <ul class="column-list-wrap">
              <%leftMenu.forEach(function(item){%>
                <li class="column-item column-1 "> <a href="/csse/infolist?path=<%=item.trees%>" title="" class="column-item-link "><span class="column-name"><%if(L=='1'){%><%=item.title%><%}else{%><%=item.titleEN%><%}%></span></a> 
                </li>
              <%})%>
            </ul>
          </div>
        </div>
      </div>
    </div>