    <!-- 信息发布栏目下的左侧菜单 -->
    <div class="wp-column-menu">
      <div class="column-head" frag="面板6">
        <div class="column-anchor clearfix" frag="窗口6" portletmode="simpleColumnAnchor">
          <h3 class="anchor-title"><span class="Column_Anchor">信息发布</span></h3>
          <a class="column-switch"></a> 
        </div>
      </div>
      <div class="column-body" frag="面板7">
        <div class="column-list" frag="窗口7" portletmode="simpleColumnList">
          <div id="wp_listcolumn_w7"> 
            <ul class="column-list-wrap">
              <li class="column-item column-1 "> <a href="/csse/infolist?path=179-182-" title="" class="column-item-link "><span class="column-name">Notice</span></a> 
              </li>
              <li class="column-item column-1 "> <a href="/csse/infolist?path=179-181-" title="" class="column-item-link "><span class="column-name">News</span></a> 
              </li>
              <li class="column-item column-1 "> <a href="/csse/infolist?path=179-262-" title="" class="column-item-link "><span class="column-name">Student</span></a> 
              </li>
              <li class="column-item column-1 "> <a href="/csse/infolist?path=179-239-" title="" class="column-item-link "><span class="column-name">Job</span></a> 
              </li>
              <li class="column-item column-1 "> <a href="/csse/infolist?path=179-268-" title="" class="column-item-link "><span class="column-name">Teaching</span></a> 
              </li>
              <li class="column-item column-1 "> <a href="/csse/infolist?path=179-213-" title="" class="column-item-link "><span class="column-name">Declare</span></a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>