<!-- 底部 -->
<div class="footer">
  <div class="con-top">
    <div class="wp">
      <!-- <div class="col-l"> -->
        <div class="f-nav">
          <!-- <dl>
            <dt>教学单位</dt>
            <dd>
           <div class="con-l" frag="窗口41" portletmode="simpleSudyNavi" configs="" contents="">        
						<ul class="clearfix" >	
							<li class="links i1"><a href="#" target="_blank">计算机科学与技术系</a> </li>						
							<li class="links i2"><a href="#" target="_blank">软件工程系</a> </li>			
							<li class="links i3"><a href="#" target="_blank">网络与大数据系</a> </li>
							<li class="links i4"><a href="#" target="_blank">人工智能系</a> </li>
							<li class="links i5"><a href="http://csse.szu.edu.cn/zk/" target="_blank">继续教育办公室</a> </li>			
						</ul>						            
            </div>
            </dd>
          </dl> -->
          <dl>
          	<dd frag="窗口47" portletmode="simpleSudyNavi" configs="" contents="">    
          		<img src="images/yh.png" style="width: 200px;">
          	</dd>
          </dl>
         
           
           <dl>
            <dt>联系我们</dt>
            <dd frag="窗口48" portletmode="simpleSudyNavi" configs="" contents="">
            
               
						<ul class="clearfix" >
							
							<li class="links i1"><a href="#" target="_blank">广东省深圳市南山区深圳大学沧海校区致腾楼计算机与软件学院，邮编518060</a> </li>
							
							<li class="links i2"><a href="#" target="_blank">+86 0755 26534078 (电话及传真)</a> </li>
							
							<li class="links i3"><a href="#" target="_blank">csse@szu.edu.cn</a> </li>
							<li class="links i4 wechat"><span class="text">公众号</span><div class="QR-code"></div></li>
						</ul>
						
            
            </dd>
          </dl>
            

          
        </div>
      <!-- </div> -->
      
    </div>
  </div>
  <div class="con-bot">
    <div class="f-copy" frag="窗口100" portletmode="simpleSiteAttri"><a href="#" target="_blank"></a><p> Copyright © 2021  深圳大学 计算机与软件学院 </p></div>
  </div>
</div>
<!-- 底部 --> 
<script src="javascripts/swiper.animate.min.js"> </script>	
<script src="javascripts/wow.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/brcheck.js"></script>
    <script src="javascripts/lib.js"></script>
    <script src="javascripts/jquery.lazyload.min.js"></script>
    <script src="javascripts/slick.min.js"></script>
    <script src="javascripts/iconfont.js"></script>
<script src="javascripts/common.js"></script> 
<script src="javascripts/jClock.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>

<script>
    $(document).ready(function() {
      var mySwiper = new Swiper ('#swiper1', {
          direction: 'vertical', // 垂直切换选项
          loop: true, // 循环模式选项
          // effect:'flip',//flip
          autoplay : true,
          speed:2000,
  })  
  var mySwiper2 = new Swiper ('.swiper2', {
        on:{
          init: function(){
            swiperAnimateCache(this); //隐藏动画元素 
            swiperAnimate(this); //初始化完成开始动画
          }, 
          slideChangeTransitionEnd: function(){ 
            swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
            //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); //动画只展现一次，去除ani类名
          } 
        },
          direction: 'horizontal', // 垂直切换选项
          loop: true, // 循环模式选项
          // effect:'flip',//flip
          autoplay : true,
          speed:1500,
          autoplayDisableOnInteraction :true,
          // 如果需要分页器
          pagination: {
            el: '.swiper-pagination',
          },
          
          // 如果需要前进后退按钮
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          
          // 如果需要滚动条
          scrollbar: {
            el: '.swiper-scrollbar',
          },
  })  
    //change language
    $('#changeL').click(function(){
      console.log('change to en')
      $.get('/csse/setLanguage', {
        language:'0'
      }, function(data){
        if(data.success){
          //return 1
          return window.location.reload();
        }
      }, 'json');
    })
    	$('#clock').jclock({ withDate: true, withWeek: true, fontSize: '12px' })
		$('.lazy_img, .lazy_bg').lazyload({
			threshold: 100,
			effect: "fadeIn"
		})
        $('.banner .slider').slick({
            dots:true,
            //fade:true,
            // cssEase:'cubic-bezier(0.7, 0, 0.3, 1)' ,// 自定义缓动
            // cssEase:'linear',// 缓动库缓动
            respondTo:'window',
            arrows:true,
            //autoplay:true,
            slidesToShow: 1,
            //autoplaySpeed: 10000,
            pauseOnHover:true,
            lazyLoad: 'ondemand',
            adaptiveHeight:true
        });
        $('.m-news .slider').slick({
            dots:true,
            arrows:false,
            autoplay:true,
            slidesToShow: 1,
            autoplaySpeed: 5000,
            pauseOnHover:false,
            lazyLoad: 'ondemand'
        });
        $('.m-special .slider').slick({
            dots:false,
            arrows:true,
            autoplay:false,
            slidesToShow: 5,
            autoplaySpeed: 5000,
			lazyLoad: 'ondemand',
            pauseOnHover:false,
              responsive: [
                {
                  breakpoint: 1199,
                  settings: {
                    slidesToShow: 4,
                    arrows:false,
                    dots: true
                  }
                },
                {
                  breakpoint: 767,
                  settings: {
                    slidesToShow: 3,
                    arrows:false,
                    dots: true
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 2,
                    arrows:false,
                    dots: true
                  }
                }
              ]
        });
    });
    </script>
<script>
       

        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            var wow = new WOW({
                boxClass: 'wow',
                animateClass: 'animated',
                offset: 0,
                mobile: true,
                live: true
            });
            wow.init();
        };
    </script>
</body>
</html>