<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>深圳大学计算机与软件学院</title>
    <meta name="keywords" content="计算机与软件学院，深圳大学，深大计软">
    <meta name="description" content="计算机与软件学院，深圳大学，深大计软">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
    <!-- <script type="text/javascript" src="/csse/javascripts/extends.js"></script> -->
    <link rel="stylesheet" href="stylesheets/animate.min.css">
    <link rel="stylesheet" href="stylesheets/slick.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/iconfont.css">
</head>

<body class="index">
<!-- 头部 -->
<div class="header">
  <div class="wp">
    <div class="logo" frag="窗口01" portletmode="simpleSiteAttri"><a href="/csse" title="返回计算机与软件学院"><img border='0' src='images/logo1.png' /></a> </div>
    <span class="menuBtn"><em class="iconfont"></em></span>
    <div class="hdr">
      <div class="con-top">
        <div class="m-area">
            <a href="https://www.szu.edu.cn/xxgk/xl.htm" target="_blank"><span id="clock"></span></a><a href="http://116.13.96.53:81/nm" target="_blank">会议室预定</a>
        </div>
        <div class="lang"><a href="#" target="_self"><i class="iconfont icondiqiu"></i><span id="changeL">ENGLISH</span></a> </div>
        <div class="soBox"> 
          <!--search begin-->
          <div class="wp-panel search-panel panel-3" frag="面板3">
            <div class="searchbtn"></div>
            <div class="wp-window search-window" frag="窗口3" portletmode="search">
                <!--search component-->
                <!-- <div class="wp-search clearfix">
                  <form method="post" action="/_web/_search/api/search/new.rst?locale=zh_CN&request_locale=zh_CN&_p=YXM9MjM4JnQ9NzAwJmQ9MjAyOCZwPTEmbT1TTiY_" target="_blank">
                    <div class="search-input">
                      <input class="search-title" name="keyword" type="text" placeholder=" ">
                    </div>
                    <div class="search-btn">
                      <input class="search-submit" name="submit" type="submit" value="">
                    </div>
                  </form>
                </div> -->
                <!--//copy the above code to customize the search--> 
            </div>
          </div>
          <!--//search end--> 
        </div>
      </div>
      <div class="con-bot"> 
       <span class="nav clearfix" frag="窗口4" portletmode="simpleSudyNavi" configs="" contents="">
        <ul class="nav">
          <li class="i1"> <a class="v1" href="/csse" target="_self">首页</a> </li>
          <li class="i2"> <a class="v1" href="/csse/infolist?path=179-182-" target="_self">信息发布</a> 
             <div class="con">
               <div class="pic"></div> 
               <dl>
                <dd> <a class="v2" href="/csse/infolist?path=179-182-" target="_self">学院通知</a></dd>
                <dd> <a class="v2" href="/csse/infolist?path=179-181-" target="_self">学院新闻</a></dd>
                <dd> <a class="v2" href="/csse/infolist?path=179-262-" target="_self">学生事务</a></dd>
                <dd> <a class="v2" href="/csse/infolist?path=179-239-" target="_self">就业招聘</a></dd>
                <dd> <a class="v2" href="/csse/infolist?path=179-268-" target="_self">教学活动</a></dd>
                <dd> <a class="v2" href="/csse/infolist?path=179-213-" target="_self">公示公告</a></dd>
               </dl>
            </div>
          </li>
          
          <li class="i3"> <a class="v1" href="/csse/infolist?path=153-227-" target="_self">学院介绍</a> 
             <div class="con">
                <div class="pic"></div> 
                <dl>
                  <dd> <a class="v2" href="/csse/infolist?path=153-227-" target="_self">学院介绍</a> </dd>
                  <dd> <a class="v2" href="/csse/infolist?path=153-229-" target="_blank">发展沿革</a> </dd> 
                  <dd> <a class="v2" href="/csse/infolist?path=153-261-" target="_self">现任领导</a> </dd>
                  <dd> <a class="v2" href="/csse/infolist?path=153-228-" target="_blank">组织机构</a> </dd> 
                  <dd> <a class="v2" href="/csse/infolist?path=153-226-" target="_self">联系方式</a> </dd>
                  <dd> <a class="v2" href="/csse/infolist?path=153-256-" target="_blank">学院标识</a> </dd>              
              </dl>
            </div>
          </li>
          
          <li class="i4"> <a class="v1" href="/csse/infolist?path=267-" target="_self">学院党建</a>              
          </li>
          
          <li class="i5"> <a class="v1" href="/csse/infolist?path=159-255-" target="_self">学科情况</a> 
             <div class="con">
             <div class="pic"></div> 
              <dl>
                <dd> <a class="v2" href="/csse/infolist?path=159-255-" target="_blank">招生信息</a></dd> 
                <dd> <a class="v2" href="#" target="_self">重点学科</a> </dd>
                <dd> <a class="v2" href="#" target="_blank">本科</a></dd> 
                <dd> <a class="v2" href="#" target="_self">硕士</a> </dd>
                <dd> <a class="v2" href="#" target="_blank">博士</a></dd> 
                <dd> <a class="v2" href="#" target="_self">继续教育</a> </dd>
                <dd> <a class="v2" href="#" target="_self">自考</a> </dd>
              </dl>
            </div>
          </li>
          
          <li class="i6"> <a class="v1" href="#" target="_self">教研队伍</a>      
             <div class="con">
               <div class="pic"></div> 
              <dl>
                <dd> <a class="v2" href="#" target="_self">院士</a> 
                <dd> <a class="v2" href="#" target="_self">特聘教授</a> 
                <dd> <a class="v2" href="#" target="_self">教授</a> 
                <dd> <a class="v2" href="#" target="_self">特约教授</a> 
                <dd> <a class="v2" href="#" target="_self">研究员</a> 
                <dd> <a class="v2" href="#" target="_self">副教授</a> 
                <dd> <a class="v2" href="#" target="_self">副研究员</a> 
                <dd> <a class="v2" href="#" target="_self">助理教授</a> 
                <dd> <a class="v2" href="#" target="_self">讲师</a>
                </dd> 
              </dl>
              </div>
             
          </li>
          
          <li class="i7"> <a class="v1" href="#" target="_self">科学研究</a>             
             <div class="con">
               <div class="pic"></div> 
              <dl>
                <dd> <a class="v2" href="#" target="_self">科学研究</a> </dd>
                <dd> <a class="v2" href="#" target="_self">教研平台</a> </dd>
                <dd> <a class="v2" href="#" target="_self">期刊编辑部</a> </dd>
              </dl>
            </div>
             
          </li>
          
          <li class="i8"> <a class="v1" href="#" target="_self">学术相关</a> 
             <div class="con">
               <div class="pic"></div> 
              <dl>
                <dd> <a class="v2" href="#" target="_self">学术评价</a> </dd>
                <dd> <a class="v2" href="#" target="_self">网络转载</a> </dd>
              </dl>
            </div>
          </li>          
        </ul>
        </span>
        <div class="soBox"> 
          <!--search begin-->
          <div class="wp-panel search-panel panel-3" frag="面板5">
            <div class="searchbtn"></div>
            <div class="wp-window search-window" frag="窗口5" portletmode="search">
                <!--search component-->
                <div class="wp-search clearfix">
                  <form method="post" action="/_web/_search/api/search/new.rst?locale=zh_CN&request_locale=zh_CN&_p=YXM9MjM4JnQ9NzAwJmQ9MjAyOCZwPTEmbT1TTiY_" target="_blank">
                    <div class="search-input">
                      <input class="search-title" name="keyword" type="text" placeholder=" ">
                    </div>
                    <div class="search-btn">
                      <input class="search-submit" name="submit" type="submit" value="">
                    </div>
                  </form>
                </div>
                <!--//copy the above code to customize the search--> 
            </div>
          </div>
          <!--//search end--> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-m">
  <div class="inner"> <span class="btn-close"><em class="iconfont"></em></span>
    <div class="lang-m"><a href="#" target="_blank"><i class="iconfont icondiqiu"></i><span id="changeL">ENGLISH</span></a> </div>
       <div class="soBox-m" frag="窗口003" portletmode="search">
											<!--搜索组件-->
						<div class="wp-search clearfix">
							<form action="/_web/_search/api/search/new.rst?locale=zh_CN&request_locale=zh_CN&_p=YXM9MjM4JnQ9NzAwJmQ9MjAyOCZwPTEmbT1TTiY_" method="post" target="_blank">
								<div class="search-input">
									<input name="keyword" class="search-title inp" type="text" value="" onblur="if(this.value == '') { this.value = ''; }" onfocus="if(this.value == '') { this.value = ''; }" placeholder=""/>
								</div>
								<div class="search-btn">
									<input name="submit" class="search-submit sub" type="submit" value=""/>
								</div>
							</form>
						</div>
						<!--//复制以上代码到自定义搜索-->
					
      </div>
    <div frag="窗口6" portletmode="simpleSudyNavi" configs="" contents="">  
      
      <ul class="nav-m">
        <li class="i1"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self">首页</a> 
        </li>
        <li class="i2"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self">信息发布</a> 
          <dl class="clearfix">           
            <dd> <a class="v2" href="#" target="_self">学院通知</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">学院新闻</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">学生事务</a> </dd>          
            <dd> <a class="v2" href="#" target="_self">就业招聘</a> </dd>          
            <dd> <a class="v2" href="#" target="_self">教学活动</a> </dd>           
            <dd> <a class="v2" href="#" target="_self">公示公告</a> </dd>                    
          </dl>          
        </li>
        
        <li class="i3"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self">学院介绍</a> 
          
          <dl class="clearfix">            
            <dd> <a class="v2" href="#" target="_self">学院介绍</a> </dd>            
            <dd> <a class="v2" href="#" target="_blank">发展沿革</a> </dd>            
            <dd> <a class="v2" href="#" target="_blank">现任领导</a> </dd>
            <dd> <a class="v2" href="#" target="_blank">组织机构</a> </dd>
            <dd> <a class="v2" href="#" target="_blank">联系方式</a> </dd>
            <dd> <a class="v2" href="#" target="_blank">学院标识</a> </dd>
          </dl>
           
        </li>
        
        <li class="i4"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self"> 学院党建</a> 
        </li>
        
        <li class="i5"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self">学科情况</a> 
          
          <dl class="clearfix">            
            <dd> <a class="v2" href="#" target="_blank">招生信息</a> </dd>           
            <dd> <a class="v2" href="#" target="_self">重点学科</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">本科</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">硕士</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">博士</a> </dd>            
            <dd> <a class="v2" href="#" target="_blank">继续教育</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">自考</a> </dd>           
          </dl>          
        </li>
        
        <li class="i6"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self">教研队伍</a> 
          
          <dl class="clearfix">            
            <dd> <a class="v2" href="#" target="_self">院士</a> </dd>           
            <dd> <a class="v2" href="#" target="_self">特聘教授</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">教授</a> </dd>         
            <dd> <a class="v2" href="#" target="_self">特约教授</a> </dd>  
            <dd> <a class="v2" href="#" target="_blank">研究员</a> </dd>
            <dd> <a class="v2" href="#" target="_self">副教授</a> </dd>            
            <dd> <a class="v2" href="#" target="_self">副研究员</a> </dd>         
            <dd> <a class="v2" href="#" target="_self">助理教授</a> </dd>  
            <dd> <a class="v2" href="#" target="_blank">讲师</a> </dd>
          </dl>
           
        </li>
        
        <li class="i7"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self">科学研究</a> 
          
          <dl class="clearfix">
            <dd> <a class="v2" href="#" target="_self">科学研究</a> </dd>            
            <dd> <a class="v2" href="#" target="_blank">科研平台</a> </dd>           
            <dd> <a class="v2" href="#" target="_blank">期刊编辑部</a> </dd>            
            </dd>
          </dl>          
        </li>
        
        <li class="i8"> <span class="btn-slide"> <em class="icon1 iconfont"></em>
                        <em class="icon2 iconfont"></em></span> <a class="v1" href="#" target="_self">学术相关</a> 
          
          <dl class="clearfix">            
            <dd> <a class="v2" href="#" target="_self">学术评价</a> </dd>
            <dd> <a class="v2" href="#" target="_self">网络转载</a> </dd>            
          </dl>
           
        </li>
             
      </ul>
       </div>
    <div class="m-area"> <a href="#" target="_blank"></a><a href="#" target="_blank"></a> </div>
  </div>
</div>
<!-- 头部 --> 