<%if(L=='1'){%>
<%include header.ejs%>
<%}%>
<%if(L!='1'){%>
<%include header_en.ejs%>
<%}%>

<!-- 头部 --> 
<!-- banner -->
<div class="banner" frag="窗口10" portletmode="simpleNews" configs="" contents="">
      <div class="slider">
        <div class="item">
          <!-- <div class="video-banner ann" style="background: url(images/by.jpg) no-repeat center center; background-size: contain;"> -->
            <div class="video-banner ann">
            <video muted="" autoplay loop src="/video/test.mp4"  webkit-playsinline playsinline x5-video-player-type="h5" x5-video-orientation="h5" x5-video-player-fullscreen="true"
              ></video>
              <div class="txt-box">
                  <div>
                      <!-- <img src="static/picture/100th-w.png" class="logo100"> -->
                      <h1>CSSE</h1>  
                     <!--  style="display: none;"  -->
                      <div>
                          <!-- <div class="more-content">
                              <a href="https://live.bilibili.com/h5/5567237" target="_blank">
                              <div class="more-item">
                                  <img src="static/picture/live-logo1.png" style="height:44px; margin:0 auto;">
                                  <span style="display: block;">Bilibili</span>
                              </div>
                              </a>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div> 

        <div class="item">
          <a href="" target="_blank"><div class="pic"><img data-src="" src="images/1.jpg"></div></a>
          <div class="tit " ><a href='' target='_blank' title=''>
           标题/内容
          </a></div>
        </div> 
        <div class="item">
          <a href="" target="_blank"><div class="pic"><img data-src="" src="images/2.jpg"></div></a>
          <div class="tit " ><a href='' target='_blank' title=''>
           标题/内容
          </a></div>
        </div> 
        <div class="item">
          <a href="" target="_blank"><div class="pic"><img data-src="" src="images/3.jpg"></div></a>
          <div class="tit " ><a href='' target='_blank' title=''>
           标题/内容
          </a></div>
        </div> 
        <!-- 循环放slider -->
      </div>
</div>
<!-- banner --> 
<!-- 内容 -->
<div class="main">
  <div class="row-a1 wow fadeInUp ">
    <div class="wp">
      <!-- rongxin -->
      <h3 class="g-t1 wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.6s"><a href="">计软新闻</a></h3>
      <div class="m-Journ">
        <div class="col-l wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s">
          <ul class="ul-list2">
            <li><a>
              <div class="time">
                <em class="day">01</em>
                <em class="year">2021-7</em>
              </div>
              <h3 class="tit">title</h3>
            </a></li>
            <li><a>
              <div class="time">
                <em class="day">01</em>
                <em class="year">2021-7</em>
              </div>
              <h3 class="tit">title</h3>
            </a></li>
            <li><a>
              <div class="time">
                <em class="day">01</em>
                <em class="year">2021-7</em>
              </div>
              <h3 class="tit">title</h3>
            </a></li>
            <li><a>
              <div class="time">
                <em class="day">01</em>
                <em class="year">2021-7</em>
              </div>
              <h3 class="tit">title</h3>
            </a></li>
            <li><a>
              <div class="time">
                <em class="day">01</em>
                <em class="year">2021-7</em>
              </div>
              <h3 class="tit">title</h3>
            </a></li>
          </ul>
        </div>
        <div class="col-r wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1s">
          <div class="swiper-container " id="swiper1" >
            <div class="swiper-wrapper" style="position: relative;">
                <div class="swiper-slide"><img src='images/news1.jpg'>
                  <p class="newstitle " >title</p></div>
                <div class="swiper-slide"><img src='images/news1.jpg' ><p class="newstitle " >title</p></div>
                <div class="swiper-slide"><img src='images/news1.jpg' ><p class="newstitle " >title</p></div>
            </div>
          </div>
          <!-- <ul class="ul-list1">
            <li class="item2"><a class="con wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="pic">
                <img src='images/news1.jpg' class="myimg">
              </div>
              <div class="txt"><span class="time">2021-7-1</span><h3 class="tit">title</h3></div>
            </a></li>
            
          </ul> -->
          <!-- <a href="" target="_blank" class="g-more">更多计软新闻</a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- 选项卡 -->
  <div class="row-a2">
    <div class="wp">
      <h3 class="g-t1 wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.6s"><a href="">通知公告</a></h3>
      <div class="m-Journalisml wow bounceInLeft animated" data-wow-duration="1s" data-wow-delay="0.8s">
        <div class="taber" frag="窗口13" portletmode="simpleNews" configs="{'c28':'320','c14':'1','c1':'1','c29':'1','c39':'300','c38':'100','c21':'0','c4':'1','c6':'35','c9':'0','c12':'0','c30':'0','c37':'1','c31':'0','c16':'1','c27':'320','c15':'0','c32':'','c5':'_blank','c40':'1','c17':'0','c19':'yyyy-MM-dd','c33':'500','c2':'序号,标题,发布时间,简介','c23':'1','c41':'240','c7':'1','c13':'200','c43':'0','c24':'240','c35':'-1:-1','c3':'6','c8':'1','c44':'1','c25':'320','c34':'300','c18':'yyyy-MM-dd','c20':'0','c42':'320','c10':'45','c11':'1','c36':'0','c26':'1'}" contents="{'c2':'0'}" style="display: block;">
          
          <div class="m-newsl">
            <ul class="ul-listl3">
              
              <li class="i1">
                <div class="con"> <span class="date">07 - 31</span>
                  <span class="tit"><a href='#' target='_blank' title='标题'>标题</a></span>
                  <div class="txt">
                    <p><a href='#' target='_blank' title='标题'>内容</a></p>
                  </div>
                </div>
              </li>
              
              <li class="i2">
                <div class="con"> <span class="date">07 - 31</span>
                  <span class="tit"><a href='#' target='_blank' title='标题'>标题</a></span>
                  <div class="txt">
                    <p><a href='#' target='_blank' title='标题'>内容</a></p>
                  </div>
                </div>
              </li>
              
              <li class="i3">
                <div class="con"> <span class="date">07 - 31</span>
                  <span class="tit"><a href='#' target='_blank' title='标题'>标题</a></span>
                  <div class="txt">
                    <p><a href='#' target='_blank' title='标题'>内容</a></p>
                  </div>
                </div>
              </li>
              
              <li class="i4">
                <div class="con"> <span class="date">07 - 31</span>
                  <span class="tit"><a href='#' target='_blank' title='标题'>标题</a></span>
                  <div class="txt">
                    <p><a href='#' target='_blank' title='标题'>内容</a></p>
                  </div>
                </div>
              </li>
              
              <li class="i5">
                <div class="con"> <span class="date">07 - 31</span>
                  <span class="tit"><a href='#' target='_blank' title='标题'>标题</a></span>
                  <div class="txt">
                    <p><a href='#' target='_blank' title='标题'>内容</a></p>
                  </div>
                </div>
              </li>
              
              <li class="i6">
                <div class="con"> <span class="date">07 - 31</span>
                  <span class="tit"><a href='#' target='_blank' title='标题'>标题</a></span>
                  <div class="txt">
                    <p><a href='#' target='_blank' title='标题'>内容</a></p>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        
      </div>  
      </div>
    </div>
  </div>
  
  <!-- 计软风采 -->
  <div class="row-a3">
    <div class="wp">
      <h3 class="g-t1 wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.6s"><a href="">计软风采</a></h3>
      <div class="swiper-container swiper2">
        <div class="swiper-wrapper" style="position: relative;">
            <div class="swiper-slide" >
              <img src="images/by.jpg" style="position: relative;" >
              <p class="ani fcdesc" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.2s" >内容</p>
            </div>
            <div class="swiper-slide" ><img src="images/by.jpg" >
              <p class="ani fcdesc" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.3s" >内容</p>
            </div>
            <div class="swiper-slide"><img src="images/by.jpg" >
              <p class="ani fcdesc" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.3s" >内容</p>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination pagition2"></div>
        
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- 如果需要滚动条 -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    </div>
  </div>
 
 
</div>
<!-- 内容 --> 
<%if(L=='1'){%>
<%include footer.ejs%>
<%}%>
<%if(L!='1'){%>
<%include footer_en.ejs%>
<%}%>