<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>本科生招生</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
</head>
<body class="childrenBody">

	<blockquote class="layui-elem-quote"><div class="layui-elem-quote-title">当前位置：招生招聘 > 本科生招生</div>
		<button class="layui-btn" data-type="getCheckData" style="float: right;margin-top: -8px;margin-left: 5px;" id="bsort"><i class="layui-icon">&#xe654;</i>专业排序</button>
		<button class="layui-btn" data-type="getCheckData" style="float: right;margin-top: -8px;margin-left: 5px;" id="binfo"><i class="layui-icon">&#xe654;</i>共用信息</button>
		<button class="layui-btn" data-type="getCheckData" style="float: right;margin-top: -8px;" id="newsadd"><i class="layui-icon">&#xe654;</i>新增</button>
	</blockquote>
	<%- include('../search.ejs', {realod_id: 'table_bkzs'}); %>
	<table id="bkzs_table" lay-filter="bkzs_table"></table>

<script type="text/javascript" src="../manage/js/thirdpart.js"></script>
<script type="text/javascript">
layui.use(['jquery','table','form'], function(){ 
    let $ = layui.$ //重点处
    let table = layui.table,
    	form = layui.form
    table.render({
	    elem: '#bkzs_table'
	    ,id:'table_bkzs'//重载需要
	    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
	    //本地与服务器
        ,url: '<%=base_url%>bkzs_data' //数据接口
	    ,page: true //开启分页
        ,limits: [15,30,45]
        ,limit: 15 //每页默认显示的数量
	    ,cols: [[ //表头
	      {type:'numbers', title: '序号',width:90,align:'center',sort:true}
	      ,{field: 'zhuanye', title: '专业',align:'center',sort:true}
          ,{field: 'neirong', title: '内容',align:'center'}
	      ,{field: 'timeAdd', title: '发布时间', align:'center',sort:true}
	      ,{title:'操作', align:'center', toolbar: '#yjfxbar'} //这里的toolbar值是模板元素的选择器
	    ]]
	  });
    //数据重载
    $('#news_btn').on('click', function(){
    	table.reload('table_bkzs', {
	        where: {
	            search_txt: $('#search_txt').val()
	        }
	    });
    })
    $('#newsadd').on('click', function(){
		AddTab('新增'+$("title").text(),'table_bkzs'+ 'new',"bkzsadd")
    })
	$('#binfo').on('click', function(){
		AddTab('共用信息','table_bkzs'+ 'new',"binfo")
    })
	$('#bsort').on('click', function(){
		AddTab('专业排序','table_bkzs'+ 'new',"bsort")
    })
    //监听工具条
	table.on('tool(bkzs_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  console.log('dddd')
	  if(layEvent === 'edit'){ //查看
		AddTab('编辑'+$("title").text(),'bkzs_table'+ obj.data.id,"bkzsadd?id="+data.id)
	   
	  } else if(layEvent === 'del'){ //删除
        console.log('data-----',data)
	    layer.confirm('确定删除吗?',{closeBtn: 0}, function(index){
	      obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	      layer.close(index);
	      //向服务端发送删除指令
	       $.ajax({
               //本地与服务器
			  	url:'<%=base_url%>bkzsdel',
			  	type:'POST',
			  	data:data,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('del success')		
                          layer.msg('已删除')	
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax delete error msg',msg)
			  	}
			})
	    });
	  } else if(layEvent === 'preview'){
	  	console.log('preview')
	  	let src = ''+ data.fujianPath
	  	layer.photos({ photos: {"data": [{"src": src}]} });
	  }
	});
});
</script>
<script type="text/html" id="yjfxbar">
  
  <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
<script type="text/html" id="sytpimg">
	<img src="{{d.fujianPath}}" style="height: 100px;max-width: 100%;" class="previewimg" />
</script>
</body>
</html>