<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
  <title>深圳大学计算机与软件学院</title>
  <link rel="stylesheet" href="../../stylesheets/css/common.css">
  <link rel="stylesheet" href="../../stylesheets/css/university_css/develop.css">
  <link rel="stylesheet" href="../../stylesheets/css/animate.min.css">
</head>
<body class="university">
<%if(L=='1'){%>
  <%include headcom.ejs%>
<%}%>
<%if(L!='1'){%>
  <%include ../../headcom.ejs%>
<%}%>

  <div class="banner">
    <img src="../../image/university_image/banner.png" class="b_bg lazy_img pimg" />
    <img src="../../image/university_image/m-banner.png" class="b_bg lazy_img mimg" />
  </div>
  <div class="contain">
    <div class="contain-area clearfix">
        <div class="nav-list">
              <a href="index" class="nav ">学院简介</a>
              <a href="message" class="nav">院长寄语</a>
              <a href="develop" class="nav active">发展沿革</a>
              <a href="leader" class="nav">现任领导</a>
              <a href="logo" class="nav">学院标识</a>
        </div>
        <div class="area1 p-area">
            <div class="pic-list">
                <div class="row">
                    <img class="img" src="../../image/university_image/img1.png" />
                    <div class="txt">
                        <p>计算机学科由清华大学援建</p>
                        <p>童诗白教授担任系主任</p>
                    </div>
                </div>
                <div class="row">
                    <img class="img" src="../../image/university_image/img2.png" />
                    <div class="txt">
                        <span>陈国良担任首任院长</span>
                    </div>
                </div>
                <div class="row">
                    <img class="img" src="../../image/university_image/img3.png" />
                    <div class="txt">
                        <p>马化腾</p>
                        <p>张志东</p>
                        <p>许晨晔</p>
                        <p>深大毕业</p>
                    </div>
                </div>
            </div>
            <div class="process">
                <div class="now">
                    <img src="../../image/university_image/logo.png" class="img"/>
                </div>
                <div class="center">
                    <div class="row  animated lightSpeedIn">
                        <div class="block b">2021</div>
                        <div class="txt-right">
                            <div class="line-2">
                                <span class="line-dot"></span>
                                <span class="ball b1"></span>
                                <span class="ball b2"></span>
                            </div>
                            <div class="txt txt1">
                                <p class="b c_cca84d">国际工程专业认证</p>
                                <p class="small m29">软件工程专业</p>
                                <p class="b c_cca84d">企业合作</p>
                                <p class="small">与腾讯云共建人工智能学院</p>
                                <p class="small">与华为筹建鲲鹏产业学院</p>
                            </div>
                        </div>
                    </div>
                    <div class="row animated slideInLeft">
                        <div class="block b">2019</div>
                        <div class="txt-left">
                            <div class="line-2 line-3">
                                <span class="line-dot"></span>
                                <span class="ball b1"></span>
                                <span class="ball b2"></span>
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt txt1">
                                <p class="b c_cca84d">博士后</p>
                                <p class="small m46">科研流动站</p>

                                <p class="b c_cca84d">广东省实验室</p>
                                <p class="small m40">人工智能与数字经济</p>
                                
                                <p class="b c_cca84d">国家一流专业建设点</p>
                                <p class="small">计算机科学与技术</p>
                                <p class="small">软件工程</p>
                            </div>
                        </div>
                    </div>
                    <div class="row  animated lightSpeedIn">
                        <div class="block b">2018</div>
                        <div class="txt-right">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt txt1">
                                <div class="b c_cca84d">一级博士点 <img class="img_star" src="../../image/university_image/star.png"/></div>
                                <p class="b c_cca84d">国际工程专业认证</p>
                                <p class="small">计算机科学与技术</p>
                            </div>
                        </div>
                    </div>
                    <div class="row animated slideInLeft">
                        <div class="block b">2017</div>
                        <div class="txt-left">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt">
                                <p class="b c_cca84d">国家级</p>
                                <p class="small">大数据系统计算技术国家工程实验室</p>
                            </div>
                        </div>
                    </div>
                    <div class="row  animated lightSpeedIn">
                        <div class="block b">2016</div>
                        <div class="txt-right">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt">
                                <p class="b c_cca84d">国家级</p>
                                <p class="small">虚拟仿真实验教学中心</p>
                            </div>
                        </div>
                    </div>
                    <div class="row animated slideInLeft">
                        <div class="block b">2015</div>
                        <div class="txt-left">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt">
                                <p class="b c_cca84d">国家级</p>
                                <p class="small">实验教学示范中心</p>
                            </div>
                        </div>
                    </div>
                    <div class="line-out"></div>
                </div>
                <div class="start">
                    <p class="small">始于</p>
                    <p class="b">1983</p>
                </div>
            </div>
        </div>
        <div class="area1 m-area">
            <div class="pic-list">
                <div class="row row1">
                    <img class="img" src="../../image/university_image/img1.png" />
                    <div class="txt">
                        <p>计算机学科由清华大学援建</p>
                        <p>童诗白教授担任系主任</p>
                    </div>
                </div>
                <div class="row row2">
                    <img class="img" src="../../image/university_image/img2.png" />
                    <div class="txt">
                        <span>陈国良担任首任院长</span>
                    </div>
                </div>
                <div class="row row3">
                    <img class="img" src="../../image/university_image/img3.png" />
                    <div class="txt">
                        <p>马化腾</p>
                        <p>张志东</p>
                        <p>许晨晔</p>
                        <p>深大毕业</p>
                    </div>
                </div>
            </div>
            <div class="process">
                <div class="now">
                    <img src="../../image/university_image/logo.png" class="img"/>
                </div>
                <div class="center">
                    <div class="row">
                        <div class="block b">2019</div>
                        <div class="txt-left">
                            <div class="line-2 line-4">
                                <span class="line-dot"></span>
                                <span class="ball b1"></span>
                                <span class="ball b2"></span>
                            </div>
                            <div class="txt txt1">
                                <p class="b c_cca84d">博士后</p>
                                <p class="small m54">科研流动站</p>

                                <p class="b c_cca84d">广东省实验室</p>
                                <p class="small">人工智能与数字经济</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="block b">2018</div>
                        <div class="txt-right">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt">
                                <div class="b c_cca84d">博士点</div>
                                <p class="small">计算机科学与技术</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="block b">2017</div>
                        <div class="txt-left">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt txt3">
                                <p class="b c_cca84d">国家级</p>
                                <p class="small">大数据系统计算技<br />术国家工程实验室</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="block b">2016</div>
                        <div class="txt-right">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt">
                                <p class="b c_cca84d">国家级</p>
                                <p class="small">虚拟仿真实验教学中心</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="block b">2015</div>
                        <div class="txt-left">
                            <div class="line-2">
                                <span class="ball b3"></span>
                            </div>
                            <div class="txt">
                                <p class="b c_cca84d">国家级</p>
                                <p class="small">实验教学示范中心</p>
                            </div>
                        </div>
                    </div>
                    <div class="line-out"></div>
                </div>
                <div class="start">
                    <p class="small">始于</p>
                    <p class="b">1983</p>
                </div>
            </div>
        </div>
            
    </div>
  </div>
  <!-- <div id="footer"></div> -->
  <%if(L=='1'){%>
    <%include ../../footercom.ejs%>
  <%}%>
  <%if(L!='1'){%>
    <%include ../../footercom.ejs%>
  <%}%>
  <script src="../../javascripts/js/jquery.min.js"></script>
<script src="../../javascripts/js/jquery.lazyload.min.js"></script>
<script src="../../javascripts/js/common.js"></script>

<script src="../../javascripts/js/brcheck.js"></script>
<script src="../../javascripts/js/slick.min.js"></script>
<script src="../../javascripts/js/scrollreveal.js"></script>
<script src="../../javascripts/js/anime.min.js"></script>

<script>
  $(document).ready(function(){
    $('.changeL').css('display','none')
});
</script>
</body>
</html>