<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>College of Computer Science and Software Engineering, SZU</title>
  <link rel="stylesheet" href="../../stylesheets/css_en/common.css">
  <link rel="stylesheet" href="../../stylesheets/css_en/university/message.css">
  <link rel="stylesheet" href="../../stylesheets/css_en/university/slick.css">

</head>

<body class="university">

    <%include ../pages_header_en.ejs%>

      <div class="banner">
        <img src="../../image/en/university_image/banner.png" class="b_bg lazy_img pimg" />
        <img src="../../image/en/university_image/m-banner.png" class="b_bg lazy_img mimg" />
      </div>

  <div class="contain">
    <div class="contain-area clearfix">
        <div class="nav-list">
          <a href="../../pages/university/index" class="nav">General Information</a>
          <a href="../../pages/university/message" class="nav active">Dean Notes</a>
          <a href="../../pages/university/leader" class="nav">Current Leaders</a>
        </div>
        <div class="cont">
          <img src="../../image/university_image/file.png" class="img-file" />
          <div class="area-img animated bounceIn">
            <img src="../../image/university_image/message/img1.png" class="img1" />
            <img src="../../image/university_image/message/img2.png" class="img2" />
            <img src="../../image/university_image/message/img3.png" class="img3" />
            <img src="../../image/university_image/message/ellipse_left.png" class="img4" />
            <img src="../../image/university_image/message/huanghui.png" class="img5" />
          </div>
          <div class="area-desc">
            <div class="tit b c_cca84d">Dean Hui Huang</div>
            <div class="desc">
              <img src="../../image/university_image/message/left.png" class="img-left"/>
              <div class="txt" style="text-indent: 3em;">
                We are in the information age. Computer Science and Technology are closely connected with all areas of human life in unprecedented depth and breadth, constantly breaking the barriers of time and space between people, promoting the rapid iteration of knowledge, achieving the sensory digitalization and unlimitedly extending the cognitive boundary. 
              </div>
              <div class="txt">
                In 1983, the Computer Science of Shenzhen University was initialized with the aid of Tsinghua University. At the end of 2008, the College of Computer Science and Software Engineering (CSSE) was established. For more than ten years, CSSE has been forging ahead steadily and fruitfully. The faculty, staff and students have never forgotten the original intention, keeping in mind the mission of making our country stronger with science and technology, striving toward the world-class disciplines, and reaping prosperous results in the multilateral progress. 
              </div>
              <div class="msg">
                <p class="p1">Success is not final, failure is not fatal;<br> it is the courage to continue that counts. </p>
                <p class="p1 p2"> - Winston Churchill</p>
              </div>
              <div class="txt" style="margin-bottom: 0;">
                Though good is good, yet better is better! There is no smooth road in science. Only those who do not fear difficulties and dangers to climb along the steep mountain road can reach the glorious summit!
              </div>
            </div>
          </div>
          <div class="info">
              <p>May you all <br>work hard, live well, love Lots, laugh often!</p>
              <img src="../../image/university_image/message/right.png" class="img-right"/>
          </div>
          <div class="intro">
            <div>
                <span class="d1">BIO</span>
                <%-data.yzjy.pageContentEN-%>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="footer">
    <div class="pc_footer">
        <div class="foot_cont">
            <div class="foot-top clearfix">
                <div class="foot-row">
                    <div class="tit b">LINKS</div>
                    <ul class="p-foot-list foot-list">
                        <li>
                            <a href="https://szu.edu.cn" target="_blank">
                                <img class="foot_img foot_img1" src="../../image/common/logo_school.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://bdsc.szu.edu.cn/" target="_blank">
                                <img class="foot_img foot_img2" src="../../image/common/BD.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://ailab.szu.edu.cn/" target="_blank">
                                <span class="b txt">省实验室</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://csse.szu.edu.cn/cpct" target="_blank">
                                <span class="b txt">实验中心</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tencent.com/" target="_blank">
                                <img class="foot_img foot_img3" src="../../image/common/tencent-logo.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.huawei.com/" target="_blank">
                                <img class="foot_img foot_img4" src="../../image/common/huawei-logo.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="foot-row">
                    <div class="tit b">CONTACT US</div>
                    <ul class="foot-info">
                        <li>
                            <img class="icon_img" src="../../image/common/ress-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">ADDRESS</div>
                                <div class="txt1">
                                    Zhiteng Building, Canghai Campus of Shenzhen University,
                                    Nanshan District, Shenzhen, Guangdong Province,
                                    <br>China 518060
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="icon_img" src="../../image/common/phone-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">Tel & FAX</div>
                                <div class="txt1">+86 0755 26534078</div>
                            </div>
                        </li>
                        <li>
                            <img class="icon_img" src="../../image/common/email-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">E-mail</div>
                                <div class="txt1">csse@szu.edu.cn</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot-row">
                    <div class="tit b">SUBSCRIPTION TO WECHAT OFFICIAL ACCOUNTS</div>
                    <ul class="foot-code">
                        <li>
                            <div class="txt b">CSSE</div>
                            <img class="code_img lazy_img" src="../../image/common/csse.png" />
                            <div class="txt"></div>
                        </li>
                        <%if(L=='1'){%>
                            <li>
                                <div class="txt b">Party-masses</div>
                                <img class="code_img lazy_img" src="../../image/common/party-messes.png" />
                                <div class="txt"></div>
                            </li>
                          <%}%>
                        <li>
                            <div class="txt b">SZU</div>
                            <img class="code_img lazy_img" src="../../image/common/szu.png" />
                            <div class="txt"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot-bot line">
                <a href="https://beian.miit.gov.cn" target="_blank" style="color: #ccc;">粤ICP备11018045号</a>
                <span class="txt"><img class="ga_img" src="../../image/common/ga_img.png" /><a href="" style="color: #ccc;" >粤公网安备44030502007936号</a></span><span class="location">Copyright © 2021 College of Computer Science and
                    Software Engineering, SZU</span>
                <span class="to_top"><i></i>TOP</span>
            </div>
        </div>
    </div>
    <div class="footer_wrap"></div>
    <img src="../../image/common/bot.png" class="bot_img p-bg" />
    <img src="../../image/mobile/m-bot-bg.png" class="bot_img m-bg" />
  </div>

  <script src="../../javascripts/js/jquery.min.js"></script>
  <script src="../../javascripts/js/jquery.lazyload.min.js"></script>
  <script src="../../javascripts/js/common.js"></script>
  <script src="../../javascripts/js/brcheck.js"></script>
  <script>
    $(document).ready(function () {
        $('.changeL').click(function(){
            console.log('change to en')
            $.get('/csse/setLanguage', {
                language:'1'
            }, function(data){
                if(data.success){
                //return 1
                return window.location.reload();
                }
            }, 'json');
        })
    })
  </script>
<script>
    $(document).ready(function () {
      $('.<%=check_nav%>').addClass('active')
    })
</script>
</body>

</html>