<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>联合培养</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
	<style>
        .layui-table-cell{
            height: auto !important;
			max-height: 100px !important;
        }
    </style>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote"><div class="layui-elem-quote-title">当前位置：国际合作 > 联合培养</div> <button class="layui-btn" data-type="getCheckData" style="float: right;margin-top: -8px;margin-left: 10px;" id="hbpx">伙伴排序</button><button class="layui-btn" data-type="getCheckData" style="float: right;margin-top: -8px;" id="newsadd"><i class="layui-icon">&#xe654;</i>新增</button></blockquote>
	<%- include('../search.ejs', {realod_id: 'table_lhpy'}); %>
	<table id="lhpy_table" lay-filter="lhpy_table"></table>

<script type="text/javascript" src="../manage/js/thirdpart.js"></script>
<script type="text/javascript">
layui.use(['jquery','table','form'], function(){ 
    let $ = layui.$ //重点处
    let table = layui.table,
    	form = layui.form
    table.render({
	    elem: '#lhpy_table'
	    ,id:'table_lhpy'//重载需要
	    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
	    //本地与服务器
        ,url: '<%=base_url%>lhpy_data' //数据接口
	    ,page: true //开启分页
        ,limits: [10,20,30]
        ,limit: 10 //每页默认显示的数量
	    ,cols: [[ //表头
	      {type:'numbers', title: '序号',width:60,align:'center',sort:true}
	      ,{field: 'title', title: '名称',align:'center',width:350,sort:true}
          ,{field: 'pageContent', title: '简介',align:'center'}
		  ,{field: 'hbsort', title: '排序',align:'center',sort:true}
		  ,{field: 'fujianPath', title: '缩略图', align:'center',templet:'#sytpimg',style:'cursor: pointer;',event:'preview',width:230,}
	      ,{field: 'timeAdd', title: '添加时间', align:'center',width:180,sort:true}
	      ,{title:'操作', align:'center', toolbar: '#yjfxbar',width:300} //这里的toolbar值是模板元素的选择器
	    ]]
	  });
    //数据重载
    $('#news_btn').on('click', function(){
    	table.reload('table_lhpy', {
	        where: {
	            search_txt: $('#search_txt').val()
	        }
	    });
    })
	//平台排序
    $('#hbpx').on('click', function(){
    	//do somehing
    	console.log('联合培养排序')
	    let index = layui.layer.open({
            title : "联合培养排序",
            type : 2,
            area: ['800px', '500px'],
            content : "lhpysort",
            success : function(layero, index){
            },
			end:function(){
				table.reload('table_lhpy', {
					where: {
						search_txt: $('#search_txt').val()
					}
				});
			}
        })
    })
    $('#newsadd').on('click', function(){
		AddTab('新增'+$("title").text(),'table_lhpy'+ 'new',"lhpyadd")
    	
    })
    //监听工具条
	table.on('tool(lhpy_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  console.log('dddd')
	  if(layEvent === 'edit'){ //查看
		AddTab('编辑'+$("title").text(),'lhpy_table'+ obj.data.id,"lhpyadd?id="+data.id)
	    
	  } else if(layEvent === 'del'){ //删除
        console.log('data-----',data)
	    layer.confirm('确定删除吗?',{closeBtn: 0}, function(index){
	      obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	      layer.close(index);
	      //向服务端发送删除指令
	       $.ajax({
               //本地与服务器
                //url:'/manage/newsdel',
			  	url:'<%=base_url%>lhpydel',
			  	type:'POST',
			  	data:data,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('del success')		
                          layer.msg('ok')	
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax delete error msg',msg)
			  	}
			})
	    });
	  } else if(layEvent === 'preview'){
	  	console.log('preview')
	  	let src = ''+ data.fujianPath
	  	layer.photos({ photos: {"data": [{"src": src}]} });
	  }
	});
});
</script>
<script type="text/html" id="yjfxbar">
  <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
<script type="text/html" id="sytpimg">
	<img src="{{d.fujianPath}}" style="height: 100px;max-width: 100%;" class="previewimg" />
</script>
</body>
</html>