
.research{
    background-color: #352C84;
}
.research .contain{
    overflow: hidden;
	padding-bottom: 60px;
}
/* banner */
.banner{
    position: relative;
}
.banner .b_bg{
    width: 100%;
}
.banner .b_txt{
    position: absolute;
    left: 10%;
    top: 44%;
}

.cont{
    width: 83.3333%;
	max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}


.cont .area {
	margin-top: 60px;
	font-family: Microsoft YaHei;
}

.cont .area .title {
	font-size: 30px;
	font-weight: bold;
	color: #CCA84D;
	line-height: 48px;
	text-align: center;
	width: 100%;
	margin-bottom: 36px;
}

.cont .area .title-2 {
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	line-height: 27px;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}

.cont .area .title-3 {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.cont .area .title-4 {
	display: flex;
	margin: 0 auto 35px;
	justify-content: center;
}

.cont .area .title-3,
.cont .area .title-4 {
	font-size: 16px;
	font-weight: 400;
	color: #999999;
	line-height: 27px;
}
.cont .area .title-3 > div:not(:first-child),
.cont .area .title-4 > div:not(:first-child){
	margin-left: 15px;
}

.cont .area img {
	max-width: 100%;
	height: auto;
}

.cont .area .b{
    font-size: 18px;
	color: #cca84d;
	font-weight: bold !important;
	font-weight: 400;
    padding: 25px 0 19px 0;
}

.cont .area p {
	font-size: 16px;
	font-weight: 400;
	color: #333333;
	line-height: 27px;
}

.cont .area .logo {
	transform: translateX(-2%);
}

@media only screen and (max-width: 1024px){
	.cont{
		width: 95%;
	}
	.cont .area .title{
		font-size: 20px;
		line-height: 1.75;
	}
	.cont .area .title-2{
		font-size: 14px;
	}
	.cont .area .title-3{
		width: auto;
		display: block;
		text-align: center;
	}
	.cont .area .title-3 div{
		display: inline-block;
		vertical-align: middle;
		margin-right: 1.5rem;
	}
	.cont .area .title-4{
		margin-top: 15px;
		display: block;
		text-align: center;
		width: auto;
	}
	.cont .area .title-4 div{
		display: inline-block;
		vertical-align: middle;
		margin-right: 1.5rem;
	}
}