<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>操作记录</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
    <style>
        .layui-table-cell{
            height: auto !important;
        }
    </style>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote">当前位置：后台首页 > 操作记录 </blockquote>

	<table id="xrld_table" lay-filter="xrld_table"></table>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript">
layui.use(['jquery','table','form'], function(){ 
    let $ = layui.$ //重点处
    let table = layui.table,
    	form = layui.form
    table.render({
	    elem: '#xrld_table'
	    ,id:'table_xrld'//重载需要
	    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
	    //本地与服务器
        ,url: '<%=base_url%>czjl_data' //数据接口
	    ,page: true //开启分页
        ,limits: [15,30,45]
        ,limit: 15 //每页默认显示的数量
	    ,cols: [[ //表头
	      {type:'numbers', title: '序号',width:90,align:'center'}
	      ,{field: 'ip', title: 'ip',align:'center'}
          ,{field: 'user', title: '用户',align:'center'}
          ,{field: 'url', title: '链接',align:'center'}
		  ,{field: 'caozuo', title: '操作',align:'center'}
		  ,{field: 'exacttime', title: '时间',align:'center'}
          ,{title:'操作', align:'center', toolbar: '#yjfxbar'} //这里的toolbar值是模板元素的选择器
	    ]]
	  });
    //监听工具条
	table.on('tool(xrld_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  console.log('dddd')
	  if(layEvent === 'edit'){ //查看
	    //do somehing
        layer.confirm('确定重置登录次数吗?', function(index){
	      obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	      //向服务端发送删除指令
	       $.ajax({
               //本地与服务器
                //url:'/manage/newsdel',
			  	url:'<%=base_url%>resetloginnum',
			  	type:'POST',
			  	data:data,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('resetloginnum success')		
                          layer.msg('ok')	
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax delete error msg',msg)
			  	}
			})
	    });
	  } 
    })
});
</script>
<script type="text/html" id="yjfxbar">

  <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>重置登录次数</a>
  <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a> -->
</script>
<script type="text/html" id="sytpimg">
	<img src="{{d.pic}}" style="height: 100px;max-width: 100%;" class="previewimg" />
</script>
</body>
</html>