<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
	<title>Admission</title>
	<link rel="stylesheet" href="../../stylesheets/css_en/common.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/css_en/admission.css" />
</head>
<body class="recruitment">

	<%include ../pages_header_en.ejs%>

	<div class="banner">
		<img src="../../image/recruitment_image/admission_en_big.png" class="b_bg lazy_img pimg" />
		<img src="../../image/recruitment_image/admission_en_small.jpg" class="b_bg lazy_img mimg" />
	</div>
	
    <div class="contain">
        <div class="contain-area">
            <div class="title">
                <span>Admission Information for International Students</span>
                <img src="../../image/en/admission/admission_05.png" alt="">
            </div>
            <div class="content">
                <div class="item">
                    <ul>
                        <li class="name">Undergraduates</li>
                        <li class="tech">Computer Science and Technology</li>
                        <li class="tips">( Program taught in Chinese )</li>
                        <li class="opts">
                            <p class="opts-item">
                                <span class="icon link"></span>
                                <span><a href="https://lxs.szu.edu.cn/info/1168/2445.htm" target="_blank">Click here to apply</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="opts-item">
                                <span class="icon tel"></span>
                                <span>+86-755-26534078</span>
                            </p>
                        </li>
                        <li>
                            <p class="opts-item">
                                <span class="icon email"></span>
                                <span>fanting@szu.edu.cn</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li class="name">M.Sc. Candidates</li>
                        <li class="tech">Computer Technology</li>
                        <li class="tips">( Program taught in Chinese )</li>
                        <li class="opts">
                            <p class="opts-item">
                                <span class="icon link"></span>
                                <span><a href="https://lxs.szu.edu.cn/info/1168/2444.htm" target="_blank">Click here to apply</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="opts-item">
                                <span class="icon tel"></span>
                                <span>+86-755-26534078</span>
                            </p>
                        </li>
                        <li>
                            <p class="opts-item">
                                <span class="icon email"></span>
                                <span>fanting@szu.edu.cn</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li class="name">Ph.D. Candidates</li>
                        <li class="tech">Computer Science and Technology</li>
                        <li class="tips">( Program taught in English )</li>
                        <li class="opts">
                            <p class="opts-item">
                                <span class="icon link"></span>
                                <span><a href="https://lxs.szu.edu.cn/info/1168/2443.htm" target="_blank">Click here to apply</a></span>
                            </p>
                            <p class="opts-item">
                                <span class="icon profile"></span>
                                <span><a href="https://lxs.szu.edu.cn/info/1221/2367.htm" target="_blank">Supervisor Profiles</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="opts-item">
                                <span class="icon tel"></span>
                                <span>+86-755-26530131</span>
                            </p>
                        </li>
                        <li>
                            <p class="opts-item">
                                <span class="icon email"></span>
                                <span>gracejiang@szu.edu.cn</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mbg">
                <img src="../../image/en/admission/admission_05.png" alt="">
            </div>
            <img src="../../image/en/admission/admission_03.png" alt="" class="img1">
            <img src="../../image/en/admission/admission_07.png" alt="" class="img2">
            <img src="../../image/en/admission/admission_10.png" alt="" class="img3">
            <img src="../../image/en/admission/admission_10-04.png" alt="" class="img4">
        </div>
      </div>

	<div class="footer">
        <div class="pc_footer">
            <div class="foot_cont">
                <div class="foot-top clearfix">
                    <div class="foot-row">
                        <div class="tit b">LINKS</div>
                        <ul class="p-foot-list foot-list">
                            <li>
                                <a href="https://szu.edu.cn" target="_blank"> 
                                    <img class="foot_img foot_img1" src="../../image/common/logo_school.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://bdsc.szu.edu.cn/" target="_blank">
                                    <img class="foot_img foot_img2" src="../../image/common/BD.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://ailab.szu.edu.cn/" target="_blank">
                                    <span class="b txt">省实验室</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://csse.szu.edu.cn/cpct" target="_blank">
                                    <span class="b txt">实验中心</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.tencent.com/" target="_blank">
                                    <img class="foot_img foot_img3" src="../../image/common/tencent-logo.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.huawei.com/" target="_blank">
                                    <img class="foot_img foot_img4" src="../../image/common/huawei-logo.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="foot-row">
                        <div class="tit b">CONTACT US</div>
                        <ul class="foot-info">
                            <li>
                                <img class="icon_img" src="../../image/common/ress-icon.png" />
                                <div class="txt-right">
                                    <div class="txt b">ADDRESS</div>
                                    <div class="txt1">
                                        Zhiteng Building, Canghai Campus of Shenzhen University,
                                        Nanshan District, Shenzhen, Guangdong Province,
                                        <br>China 518060
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img class="icon_img" src="../../image/common/phone-icon.png" />
                                <div class="txt-right">
                                    <div class="txt b">Tel & FAX</div>
                                    <div class="txt1">+86 0755 26534078</div>
                                </div>
                            </li>
                            <li>
                                <img class="icon_img" src="../../image/common/email-icon.png" />
                                <div class="txt-right">
                                    <div class="txt b">E-mail</div>
                                    <div class="txt1">csse@szu.edu.cn</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="foot-row">
                        <div class="tit b">SUBSCRIPTION TO WECHAT OFFICIAL ACCOUNTS</div>
                        <ul class="foot-code">
                            <li>
                                <div class="txt b">CSSE</div>
                                <img class="code_img lazy_img" src="../../image/common/csse.png" />
                                <div class="txt"></div>
                            </li>
                            <%if(L=='1'){%>
                                <li>
                                    <div class="txt b">Party-masses</div>
                                    <img class="code_img lazy_img" src="../../image/common/party-messes.png" />
                                    <div class="txt"></div>
                                </li>
                              <%}%>
                            <li>
                                <div class="txt b">SZU</div>
                                <img class="code_img lazy_img" src="../../image/common/szu.png" />
                                <div class="txt"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="foot-bot line">
                    <a href="https://beian.miit.gov.cn" target="_blank" style="color: #ccc;">粤ICP备11018045号</a>
                    <span class="txt"><img class="ga_img" src="../../image/common/ga_img.png" /><a href="" style="color: #ccc;" >粤公网安备44030502007936号</a></span><span class="location">Copyright © 2021 College of Computer Science and
                        Software Engineering, SZU</span>
                    <span class="to_top"><i></i>TOP</span>
                </div>
            </div>
        </div>
        <div class="footer_wrap"></div>
        <img src="../../image/common/bot.png" class="bot_img p-bg" />
        <img src="../../image/mobile/m-bot-bg.png" class="bot_img m-bg" />
      </div>
  <script src="../../javascripts/js/jquery.min.js"></script>
  <script src="../../javascripts/js/jquery.lazyload.min.js"></script>
  <script src="../../javascripts/js/common.js"></script>
  
  <script src="../../javascripts/js/brcheck.js"></script>
  <script>
	$(document).ready(function () {
	  $('.<%=check_nav%>').addClass('active')
      $('.changeL').click(function(){
            console.log('change to cn')
            $.get('/csse/setLanguage', {
                language:'1'
            }, function(data){
                if(data.success){
                //return 1
                return window.location.href='/csse/pages/recruitment/index';
                }
            }, 'json');
        })
	})
</script>
  </body>
  </html>