<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
	<title>Position</title>
	<link rel="stylesheet" href="../../stylesheets/css_en/common.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/css_en/position.css" />
<body class="recruitment">

	<%include ../pages_header_en.ejs%>

	<div class="banner">
		<img src="../../image/recruitment_image/position.png" class="b_bg lazy_img pimg" />
		<img src="../../image/recruitment_image/position-m-banner.png" class="b_bg lazy_img mimg" />
	</div>
	
    <div class="contain">
        <div class="contain-area">
            <div class="title">
                <span>Welcome on board!</span>
                <img src="../../image/en/position/position_01.png" alt="">
            </div>
            <div class="content">
                <div class="item">
                    <p class="name">Recruiting Categories</p>
                    <div class="intro">
                        <b>1. Shenzhen University Faculty Recruitment</b>
                        <ul>
                            <li class="tit">Requirements</li>
                            <li>- PhD degree</li>
                            <li>- Strong research background in CS</li>
                            <li>- High-level academic achievements</li>
                            <li>- Good teaching skills</li>
                        </ul>
                        <ul>
                            <li class="tit">Remuneration & Benefits</li>
                            <li>- Competitive annual salary</li>
                            <li>- Research start-up funding</li>
                            <li>- SZU Pengcheng Peacock subsidy (specially appointed positions)</li>
                        </ul>
                    </div>
                    <div class="intro">
                        <b>2. NSFC Funding for Overseas Excellent Young Scientists</b>
                        <p class="tips">
                            <span>CSSE sincerely invites outstanding young talents from overseas to apply through Shenzhen University.<br>Check more information from NSFC official webpage</span>
                            <a href="https://www.nsfc.gov.cn/publish/portal0/tab434/info83268.htm" target="_blank">
                                <img src="../../image/index/right.png" alt="">
                            </a>
                        </p>
                        <ul>
                            <li class="tit">Remuneration & Benefits</li>
                            <li>- Position: SZU Distinguished Professor</li>
                            <li>- Annual Salary: RMB 700,000 and above</li>
                            <li>- Subsidy: SZU Pengcheng Peacock position A (RMB 600,000), B (RMB 360,000) or C (RMB 240,000)</li>
                            <li>- Research start-up funding: 5-10 million (national, provincial and university funds)</li>
                            <li>- Team support: 1 assistant professor, 1 researcher, and postdocs funded by SZU</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <p class="name">Welfare Support</p>
                    <div class="support-type">
                        <div class="type">
                            <ul>
                                <li>
                                    <img src="../../image/en/position/position_02.png" alt="">
                                </li>
                                <li>
                                    <b>Housing Policy</b>
                                </li>
                                <li>
                                    <p>- University apartments for rent</p>
                                    <p>- Shenzhen talent housing support</p>
                                </li>
                            </ul>
                        </div>
                        <div class="type">
                            <ul>
                                <li>
                                    <img src="../../image/en/position/position_03.png" alt="">
                                </li>
                                <li>
                                    <b>Education Support</b>
                                </li>
                                <li>
                                    <p>- 3 Kindergartens</p>
                                    <p>- 4 Primary Schools</p>
                                    <p>- 4 Secondary Schools</p>
                                </li>
                            </ul>
                        </div>
                        <div class="type">
                            <ul>
                                <li>
                                    <img src="../../image/en/position/position_04.png" alt="">
                                </li>
                                <li>
                                    <b>Health Care</b>
                                </li>
                                <li>
                                    <p>- SZU General Hospital</p>
                                    <p>- SZU Huanan Hospital</p>
                                </li>
                            </ul>
                        </div>
                        <div class="type">
                            <ul>
                                <li>
                                    <img src="../../image/en/position/position_05.png" alt="">
                                </li>
                                <li>
                                    <b>Other Benefits</b>
                                </li>
                                <li>
                                    <p>- Annual Health Checkup</p>
                                    <p>- Meal Subsidies</p>
                                    <p>- Sports Fund</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p class="name">Contact Information</p>
                    <div class="opts">
                        <div class="opts-item">
                            <span class="icon profile"></span>
                            <span>Ye Liu</span>
                        </div>
                        <div class="opts-item">
                            <span class="icon email"></span>
                            <span>ly@szu.edu.cn</span>
                        </div>
                        <div class="opts-item">
                            <span class="icon tel"></span>
                            <span>+86-755-26909202</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbg">
                <img src="../../image/en/position/position_01.png" alt="">
            </div>
    
            <img src="../../image/en/admission/admission_03.png" alt="" class="img1">
            <img src="../../image/en/admission/admission_10.png" alt="" class="img3">
        </div>
    </div>
    
	<div class="footer">
        <div class="pc_footer">
            <div class="foot_cont">
                <div class="foot-top clearfix">
                    <div class="foot-row">
                        <div class="tit b">LINKS</div>
                        <ul class="p-foot-list foot-list">
                            <li>
                                <a href="https://szu.edu.cn" target="_blank"> 
                                    <img class="foot_img foot_img1" src="../../image/common/logo_school.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://bdsc.szu.edu.cn/" target="_blank">
                                    <img class="foot_img foot_img2" src="../../image/common/BD.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://ailab.szu.edu.cn/" target="_blank">
                                    <span class="b txt">省实验室</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://csse.szu.edu.cn/cpct" target="_blank">
                                    <span class="b txt">实验中心</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.tencent.com/" target="_blank">
                                    <img class="foot_img foot_img3" src="../../image/common/tencent-logo.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.huawei.com/" target="_blank">
                                    <img class="foot_img foot_img4" src="../../image/common/huawei-logo.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="foot-row">
                        <div class="tit b">CONTACT US</div>
                        <ul class="foot-info">
                            <li>
                                <img class="icon_img" src="../../image/common/ress-icon.png" />
                                <div class="txt-right">
                                    <div class="txt b">ADDRESS</div>
                                    <div class="txt1">
                                        Zhiteng Building, Canghai Campus of Shenzhen University,
                                        Nanshan District, Shenzhen, Guangdong Province,
                                        <br>China 518060
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img class="icon_img" src="../../image/common/phone-icon.png" />
                                <div class="txt-right">
                                    <div class="txt b">Tel & FAX</div>
                                    <div class="txt1">+86 0755 26534078</div>
                                </div>
                            </li>
                            <li>
                                <img class="icon_img" src="../../image/common/email-icon.png" />
                                <div class="txt-right">
                                    <div class="txt b">E-mail</div>
                                    <div class="txt1">csse@szu.edu.cn</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="foot-row">
                        <div class="tit b">SUBSCRIPTION TO WECHAT OFFICIAL ACCOUNTS</div>
                        <ul class="foot-code">
                            <li>
                                <div class="txt b">CSSE</div>
                                <img class="code_img lazy_img" src="../../image/common/csse.png" />
                                <div class="txt"></div>
                            </li>
                            <%if(L=='1'){%>
                                <li>
                                    <div class="txt b">Party-masses</div>
                                    <img class="code_img lazy_img" src="../../image/common/party-messes.png" />
                                    <div class="txt"></div>
                                </li>
                              <%}%>
                            <li>
                                <div class="txt b">SZU</div>
                                <img class="code_img lazy_img" src="../../image/common/szu.png" />
                                <div class="txt"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="foot-bot line">
                    <a href="https://beian.miit.gov.cn" target="_blank" style="color: #ccc;">粤ICP备11018045号</a>
                    <span class="txt"><img class="ga_img" src="../../image/common/ga_img.png" /><a href="" style="color: #ccc;" >粤公网安备44030502007936号</a></span><span class="location">Copyright © 2021 College of Computer Science and
                        Software Engineering, SZU</span>
                    <span class="to_top"><i></i>TOP</span>
                </div>
            </div>
        </div>
        <div class="footer_wrap"></div>
        <img src="../../image/common/bot.png" class="bot_img p-bg" />
        <img src="../../image/mobile/m-bot-bg.png" class="bot_img m-bg" />
      </div>
  <script src="../../javascripts/js/jquery.min.js"></script>
  <script src="../../javascripts/js/jquery.lazyload.min.js"></script>
  <script src="../../javascripts/js/common.js"></script>
  
  <script src="../../javascripts/js/brcheck.js"></script>
  <script>
	$(document).ready(function () {
	  $('.<%=check_nav%>').addClass('active')
      $('.changeL').click(function(){
            console.log('change to cn')
            $.get('/csse/setLanguage', {
                language:'1'
            }, function(data){
                if(data.success){
                //return 1
                return window.location.href='/csse/pages/recruitment/talents';
                }
            }, 'json');
        })
	
	})
</script>
  </body>
  </html>