.organization {
	background-color: #352C84;
	width: 100%;
}

.banner {
	position: relative;
}

.banner .b_bg {
	width: 100%;
}

.banner .mimg{
	display: none;
}

.banner .b_txt {
	position: absolute;
	left: 10%;
	top: 44%;
	height: 37%;
}

.contain-area {
	width: 83.3333%;
	max-width: 1600px;
	padding: 80px 0;
	display: flex;
	margin: 0 auto;
	align-items: flex-start;
}

.area-nav {
	text-align: center;
	width: 230px;
	margin-right: 49px;
	box-shadow: 0px 0px 4px 0px rgba(204, 168, 77, 0.35);
	background-color: #f3f3f3;
}

.area-nav .tit {
	background-color: #cca84d;
	color: #fff;
	padding: 19px 0;
	width: 100%;
	font-size: 24px;
}

.area-nav ul li{
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid white;
    font-size: 16px;
}
.area-nav ul li a{
    display: block;
    padding: 19px 0;
    width: 100%;
}

.area-nav ul li.active,
.area-nav ul li:hover {
	background-color: #fff;
}

.area-cont {
	padding-bottom: 4%;
	width: 82%;
	position: relative;
}

.area-tit {
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding: 3% 0 40px 0;
}

.items-list{
	font-size: 0;
}
.items-list .item{
	width: 50%;
	display: inline-flex;
	align-items: center;
	padding-right: 3%;
}
.items-list .item:nth-child(n+3){
	margin-top: 75px;
}
.items-list .item .cover{
	width: 48.5%;
	position: relative;
	flex-shrink: 0;
}
.items-list .item .cover img{
	width: 100%;
}
.items-list .item .cover .img-txt{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	color: white;
	width: 100%;
	text-align: center;
}
.items-list .item ul{
	margin-left: 20px;
	color: #cca84d;
	font-size: 16px;
	flex: auto;
	width: 51.5%;
}
.items-list .item ul p{
	color: #666;
	line-height: 1.2;
}
.items-list .item ul p:first-child{
	margin-top: 15px;
}
.items-list .item .txt-more{
	color: #666;
}
.items-list .item .more_img{
	margin-left: 5px;
}
.items-list .item .tit{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.items-list .item li:last-child{
	margin-top: 10px;
}
.items-list .item .hidden{
	position: relative;
	overflow: hidden;
	line-height: 1.2;
}
.items-list .item .hidden .text {
	width: 100%;
	word-break: break-all;
	color: #666;
}

.contain-area-2 {
	width: 83.3333%;
	max-width: 1600px;
	padding: 30px 0;
	margin: 0 auto;
}

.details-back{
	margin-bottom: 40px;
	font-size: 14px;
	color: #666;
}
.details-back .icon{
	width: 20px;
	height: 20px;
	background-color: #cca84d;
	border-radius: 3px;
	background-image: url(../../../image/index/back-icon.svg);
	background-position: center;
	background-size: 18px;
}
.details-back span{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.details-content .tit{
	width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 0 0 40px 0;
	color: #cca84d;
	font-weight: bold;
}
.details-content img{
	max-width: 100%;
	height: auto;
}
.details-content ul,ol{
   margin: auto;
   padding: revert;
   list-style: disc;
}

@media screen and (max-width: 1850px) {
	.items-list .item .hidden{
		height: 57px;
	}
}
@media screen and (max-width: 1650px) {
	.items-list .item .cover .img-txt{
		font-size: 18px;
	}
	.items-list .item .hidden{
		height: 37px;
	}
}
@media screen and (max-width: 1500px) {
	.items-list .item .hidden{
		height: 33px;
	}
	.items-list .item ul{
		font-size: 14px;
	}
	.items-list .item ul p:first-child{
		margin-top: 8px;
	}
	.items-list .item li:last-child{
		margin-top: 5px;
	}
}
@media screen and (max-width: 1400px) {
	.items-list .item .cover .img-txt{
		font-size: 16px;
	}
}
@media screen and (max-width: 1200px) {
	.area-nav{
		display: none;
	}
	.contain-area{
		width: 100%;
		padding: 0 10px;
		margin: 0;
	}
	.area-cont{
		width: 100%;
		padding-bottom: 10%;
	}
	.items-list .item{
		width: 100%;
	}
	.items-list .item:not(:first-child){
		margin-top: 25px;
	}
	.items-list .item ul{
		margin-left: 10px;
	}
	.items-list .item .more_img{
		width: 18px;
		vertical-align: middle;
	}
	.items-list .item ul li:nth-child(3) *{
		display: none;
	}
	.items-list .item li:last-child{
		margin-top: 10px;
	}
	.contain-area-2 {
		width: 100%;
		padding: 4% 10px;
	}
	.details-back{
		margin-bottom: 25px;
	}
	.details-content .tit{
		font-size: 22px;
		padding-bottom: 25px;
	}
}