<%# 统一header模板 %>
<div class="header">
    <div class="head-cont">
      <div class="head-left">
        <a href="/" class="home-img">
          <img src="../../image/common/logo_school.svg" class="logo_school" />
          <img src="../../image/common/logo_collage.svg" class="logo_collage" />
        </a>
        <div class="head-txt">
          <div class="name b">深圳大学计算机与软件学院</div>
          <div class="small">College of Computer Science and Software Engineering, SZU</div>
        </div>
      </div>
      <div class="head-right">
        <div class="pc-con">
          <div class="head-nav1">
            <a class="lobby" href="http://ehall.szu.edu.cn/new/index">
              <img class="lobby_icon" src="../../image/common/lobby-icon.png" />
              办事大厅
            </a>
            <a class="oa" href="http://210.39.3.155:9090/goLogin.do">
              <img class="oa_icon" src="../../image/common/OA-icon.png" />
              OA
            </a>
            <a href="../../manage/login">
              <span class="person">
                <img class="per_icon" src="../../image/common/person-icon.png" />
                后台登录
              </span>
            </a>
            <a class="lang changeL" href="" id="changeL">
              <img class="lang_icon" src="../../image/common/lang-icon.png" />
              English
            </a>
          </div>
  
          <div class="head-nav2">
            <div class="nav">
              <a href="/csse">首页</a>
            </div>
            <div class="nav ">
              <a href="../../pages/university/index">学院概况</a>
              <div class="nav-area">
                <div class="nav-area-row tc fl-1">
                  <a href="../../pages/university/index">学院简介</a>
                  <a href="../../pages/university/message">院长寄语</a>
                  <a href="../../pages/university/develop">发展沿革</a>
                  <a href="../../pages/university/leader">现任领导</a>
                  <a href="../../pages/university/logo">学院标识</a>
                </div>
              </div>
            </div>
            <div class="nav ">
              <a href="../../pages/organization/index">机构设置</a>
              <div class="nav-area w600">
                <div class="nav-area-row p40">
                  <a href="http://nhpcc.szu.edu.cn/">高性能计算研究所</a>
                  <a href="http://bigdata.szu.edu.cn/">大数据技术与应用研究所</a>
                  <a href="http://futuremedia.szu.edu.cn/">未来媒体技术与计算研究所</a>
                  <a href="http://security.szu.edu.cn/">网络与信息安全研究所</a>
                  <a href="http://cv.szu.edu.cn/">计算机视觉研究所</a>
                  <a href="http://itsi.szu.edu.cn/">智能技术与系统集成研究所</a>
                  <a href="http://www.futurenet.ac.cn/">物联网研究中心</a>
                  <a href="https://vcc.tech/">可视计算研究中心</a>
                  <a href="#">软件工程研究中心</a>
                </div>
                <div class="nav-area-row p30">
                  <a href="../../pages/organization/departments">计算机科学与技术系</a>
                  <a href="../../pages/organization/departments">软件工程系</a>
                  <a href="../../pages/organization/departments">人工智能系</a>
                  <a href="../../pages/organization/departments">网络与大数据系</a>
                </div>
                <div class="nav-area-row p30">
                  <a href="../../pages/organization/executive">行政办公室</a>
                  <a href="../../pages/organization/periodical">期刊编辑部</a>
                  <a href="http://csse.szu.edu.cn/cpct">实验中心</a>
                  <a href="https://bdsc.szu.edu.cn">国家工程实验室</a>
                </div>
              </div>
            </div>
            <div class="nav ">
              <a href="../../pages/teacherTeam/index?zc=1">师资队伍</a>
              <div class="nav-area w150">
                <div class="nav-area-row tc fl-1">
                  <a href="../../pages/teacherTeam/index?zc=1">杰出人才</a>
                  <a href="../../pages/teacherTeam/index?zc=2">教授</a>
                  <a href="../../pages/teacherTeam/index?zc=3">副教授</a>
                  <a href="../../pages/teacherTeam/index?zc=5">助理教授</a>
                  <a href="../../pages/teacherTeam/index?zc=4">讲师</a>
                  <a href="../../pages/teacherTeam/index?zc=6">专职研究人员</a>
                  <a href="../../pages/teacherTeam/index?zc=7">博士后</a>
                </div>
              </div>
            </div>
            <div class="nav active">
              <a href="../../pages/research/index">科研成果</a>
            </div>
            <div class="nav">
              <a href="../../pages/recruitment/index">招生招聘</a>
              <div class="nav-area w150">
                <div class="nav-area-row tc fl-1">
                  <a href="../../pages/recruitment/index">本科生招生</a>
                  <a href="../../pages/recruitment/master">硕士生招生</a>
                  <a href="../../pages/recruitment/doctor">博士生招生</a>
                  <a href="https://cce.szu.edu.cn/">成考招生</a>
                  <a href="http://csse.szu.edu.cn/zk/">自考招生</a>
                  <a href="../../pages/recruitment/talents">人才招聘</a>
                </div>
              </div>
            </div>
            <div class="nav">
              <a href="../../pages/globalCooperation/partner">国际合作</a>
              <div class="nav-area">
                <div class="nav-area-row tc fl-1">
                  <a href="../../pages/globalCooperation/partner">合作伙伴</a>
                  <a href="../../pages/globalCooperation/jointTraining">联合培养</a>
                  <a href="../../pages/globalCooperation/coresearch">科研合作</a>
                </div>
              </div>
            </div>
            <div class="nav">
              <a href="../../pages/news/index">新闻动态</a>
            </div>
            <div class="nav">
              <a href="../../pages/regulation/index">党群工作</a>
              <div class="nav-area w150">
                <div class="nav-area-row tc fl-1">
                  <a href="../../pages/regulation/constitute">组织概况</a>
                  <a href="../../pages/regulation/rules">规章制度</a>
                  <a href="../../pages/regulation/index">党建活动</a>
                  <a href="../../pages/regulation/study">学“习”园地</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-con">
          <a href="javascript:void(0)" class="nav-btn"></a>
        </div>
      </div>
    </div>
    <div class="nav_site mobile-nav" style="display: none;">
      <ul class="mobile_navs">
        <li>
          <a href="#" class="link changeL" >
            <img class="lang_icon" src="../../image/common/lang-icon.png" />
            <span>English</span>
          </a>
        </li>
        <li>
          <a href="/csse">首页</a>
        </li>
        <li class="first">
          <a href="../../pages/university/index">学校概况</a>
          <!-- <a href="/about/" title="About SISU">About SISU</a> -->
          <i></i>
          <ol>
            <li><a href="../../pages/university/index">学院简介</a></li>
            <li><a href="../../pages/university/message">院长寄语</a></li>
            <li><a href="../../pages/university/develop">发展沿革</a></li>
            <li><a href="../../pages/university/leader">现任领导</a></li>
            <li><a href="../../pages/university/logo">学院标识</a></li>
          </ol>
        </li>
        <!--1-->
        <li>
          <a href="../../pages/organization/index">机构设置</a><i></i>
          <ol>
            <li><a href="http://nhpcc.szu.edu.cn/">高性能计算研究所</a></li>
            <li><a href="http://bigdata.szu.edu.cn/">大数据技术与应用研究所</a></li>
            <li><a href="http://futuremedia.szu.edu.cn/">未来媒体技术与计算研究所</a></li>
            <li><a href="http://security.szu.edu.cn/">网络与信息安全研究所</a></li>
            <li><a href="http://cv.szu.edu.cn/">计算机视觉研究所</a></li>
            <li><a href="http://itsi.szu.edu.cn/">智能技术与系统集成研究所</a></li>
            <li><a href="http://www.futurenet.ac.cn/">物联网研究中心</a></li>
            <li><a href="https://vcc.tech/">可视计算研究中心</a></li>
            <li><a href="#">软件工程研究中心</a></li>
            <li><a href="../../pages/organization/departments">计算机科学与技术系</a></li>
            <li><a href="../../pages/organization/departments">软件工程系</a></li>
            <li><a href="../../pages/organization/departments">人工智能系</a></li>
            <li><a href="../../pages/organization/departments">网络与大数据系</a></li>
            <li><a href="../../pages/organization/executive">行政办公室</a></li>
            <li><a href="../../pages/organization/periodical">期刊编辑部</a></li>
            <li><a href="http://csse.szu.edu.cn/cpct">实验中心</a></li>
            <li><a href="https://bdsc.szu.edu.cn">国家工程实验室</a></li>
          </ol>
        </li>
        <!--2-->
        <li>
          <a href="../../pages/teacherTeam/index?zc=1">师资队伍</a><i></i>
          <ol>
            <li><a href="../../pages/teacherTeam/index?zc=1">杰出人才</a></li>
            <li><a href="../../pages/teacherTeam/index?zc=2">教授</a></li>
            <li><a href="../../pages/teacherTeam/index?zc=3">副教授</a></li>
            <li><a href="../../pages/teacherTeam/index?zc=4">讲师</a></li>
            <li><a href="../../pages/teacherTeam/index?zc=5">助理教授</a></li>
            <li><a href="../../pages/teacherTeam/index?zc=6">专职研究人员</a></li>
            <li><a href="../../pages/teacherTeam/index?zc=7">博士后</a></li>
          </ol>
        </li>
        <!--3-->
        <li>
          <a href="../../pages/research/index">科研成果</a><i></i>
          <ol>
            <li><a href="../../pages/research/index?y=2021">2021</a></li>
            <li><a href="../../pages/research/index?y=2020">2020</a></li>
            <li><a href="../../pages/research/index?y=2019">2019</a></li>
            <li><a href="../../pages/research/index?y=2018">2018</a></li>
            <li><a href="../../pages/research/index?y=2017">2017</a></li>
            <li><a href="../../pages/research/index?y=2016">2016</a></li>
            <li><a href="../../pages/research/index?y=Before">Before</a></li>
            <li><a href="../../pages/research/index?b=1">高性能计算研究所</a></li>
            <li><a href="../../pages/research/index?b=2">大数据技术与应用研究所</a></li>
            <li><a href="../../pages/research/index?b=3">未来媒体技术与计算研究所</a></li>
            <li><a href="../../pages/research/index?b=4">网络与信息安全研究所</a></li>
            <li><a href="../../pages/research/index?b=5">计算机视觉研究所</a></li>
            <li><a href="../../pages/research/index?b=6">智能技术与系统集成研究所</a></li>
            <li><a href="../../pages/research/index?b=7">物联网研究中心</a></li>
            <li><a href="../../pages/research/index?b=8">可视计算研究中心</a></li>
            <li><a href="../../pages/research/index?b=11">软件工程研究中心</a></li>
            <li><a href="../../pages/research/index?b=9">教学系</a></li>
          </ol>
        </li>
        <!--4-->
        <li>
          <a href="../../pages/recruitment/index">招生招聘</a><i></i>
          <ol>
            <li><a href="../../pages/recruitment/index">本科生招生</a></li>
            <li><a href="../../pages/recruitment/master">硕士生招生</a></li>
            <li><a href="../../pages/recruitment/doctor">博士生招生</a></li>
            <li><a href="https://cce.szu.edu.cn/">成考招生</a></li>
            <li><a href="http://csse.szu.edu.cn/zk/">自考招生</a></li>
            <li><a href="../../pages/recruitment/talents">人才招聘</a></li>
          </ol>
        </li>
        <!--5-->
        <li>
          <a href="../../pages/globalCooperation/partner">国际合作</a><i></i>
          <ol>
            <li><a href="../../pages/globalCooperation/partner">合作伙伴</a></li>
            <li><a href="../../pages/globalCooperation/jointTraining">联合培养</a></li>
            <li><a href="../../pages/globalCooperation/coresearch">科研合作</a></li>
          </ol>
        </li>
        <!--6-->
        <li>
          <a href="../../pages/news/index">新闻动态</a><i></i>
          <ol>
            <li><a href="../../pages/news/index">科研动态</a></li>
            <li><a href="../../pages/news/index?type=2">国际交流</a></li>
            <li><a href="../../pages/news/index?type=3">学生工作</a></li>
            <li><a href="../../pages/news/index?type=4">党务行政</a></li>
            <li><a href="../../pages/news/index?type=5">学术讲座</a></li>
            <li><a href="../../pages/news/index?type=6">教务教学</a></li>
          </ol>
        </li>
        <!--7-->
        <li>
          <a href="../../pages/regulation/index">党群工作</a><i></i>
          <ol>
            <li><a href="../../pages/regulation/constitute">组织概况</a></li>
            <li><a href="../../pages/regulation/rules">规章制度</a></li>
            <li><a href="../../pages/regulation/index">党建活动</a></li>
            <li><a href="../../pages/regulation/study">学“习”园地</a></li>
          </ol>
        </li>
      </ul>
      <div class="action">
        <ul>
          <li class="calendar"><a href="../../manage/login">后台登录</a></li>
        </ul>
      </div>
    </div>
  </div>